<%= ajax_will_paginate present.players, :params => { :my_excluded_param => nil }, 
    id:"pagfixed2" %>
<table id="playerlist" class="table table-striped table-bordered table-condensed" >
	<% present.playertemplate(self) do |pl| %>
   <thead>
	  <tr class="playerdetails">
		  <%= pl.label(name: "club_shortname", short: "Club", op:false) %>
		  <%= pl.label(name: "position", short: "Pos", op:false) %>
		  <%= pl.label(name: "surname", op:false) %>
		  <%= pl.label(name: "round_score") %>
		  <%= pl.label(name:"teams_selected_percent", short: "Selected") %>
		  <%= pl.label(name:"minutes_played", short:"Minutes") %>
		  <%= pl.label(name:"goals_scored") %>
		  <%= pl.label(name:"assists") %>
		  <%= pl.label(name:"clean_sheets")%>
		  <%= pl.label(name:"own_goals") %>
		  <%= pl.label(name:"penalties_saved") %>
		  <%= pl.label(name:"penalties_missed")%>
		  <%= pl.label(name:"yellow_cards", short: "Yellow") %>
		  <%= pl.label(name:"red_cards", short: "Red") %>
		  <%= pl.label(name:"saves") %>
		  <%= pl.label(name:"round_bonus") %>
		  <%= pl.label(name:"form") %>
		  <%= pl.label(name:"dream_team_appearances", short: "Dream Team") %>
			<%= pl.label(name:"value_form") %>
			<%= pl.label(name:"value_season") %>
			<%= pl.label(name:"points_per_game", short: "PPG") %>
			<%= pl.label(name:"transfers_in", short:"Trans In") %>
			<%= pl.label(name:"transfers_out", short: "Trans Out") %>
			<%= pl.label(name:"transfers_in_round", short: "Trans In Rnd") %>
			<%= pl.label(name:"transfers_out_round", short: "Trans Out Rnd") %>
			<%= pl.label(name:"price_rise") %>
			<%= pl.label(name:"price_fall") %>
			<%= pl.label(name:"price_rise_round", short: "Price Rise Rnd") %>
			<%= pl.label(name:"price_fall_round", short: "Price Fall Rnd") %>
			<%= pl.label(name:"goals_conceded") %>
			<%= pl.label(name:"bonus") %>
			<%= pl.label(name:"total_points", short:"Total Pts") %>
			<%= pl.label(name:"price") %>
			<%= pl.label(name:"price", op:false) %>
		</tr>
	</thead>
	<tbody>
		<% pl.each_player do |p| %>
			<% pl.current_player(p) %>
	  	<tr class="playerdetails" id= <%= p.id %> >
		  	<%= pl.stats(field: 'club_shortname', op: false) %>
			  <%= pl.stats(field:"position", op: false) %>
			  <%= pl.stats(field:"surname", op: false) %>
			  <%= pl.stats(field: "round_score")  %>
				<%= pl.stats(field:"teams_selected_percent") %>
				<%= pl.stats(field:"minutes_played") %>
				<%= pl.stats(field:"goals_scored") %>
				<%= pl.stats(field:"assists") %>
				<%= pl.stats(field:"own_goals") %>
				<%= pl.stats(field:"penalties_saved") %>
				<%= pl.stats(field:"penalties_missed") %>
				<%= pl.stats(field:"yellow_cards") %>
				<%= pl.stats(field:"red_cards") %>
				<%= pl.stats(field:"saves") %>
				<%= pl.stats(field:"round_bonus") %>
				<%= pl.stats(field:"form") %>
				<%= pl.stats(field:"dream_team_appearances") %>
				<%= pl.stats(field:"value_form") %>
				<%= pl.stats(field:"value_season") %>
				<%= pl.stats(field:"points_per_game") %>
				<%= pl.stats(field:"transfers_in") %>
				<%= pl.stats(field:"transfers_out") %>
				<%= pl.stats(field:"transfers_in_round") %>
				<%= pl.stats(field:"transfers_out_round") %>
				<%= pl.stats(field:"price_rise") %>
				<%= pl.stats(field:"price_fall") %>
				<%= pl.stats(field:"price_rise_round") %>
				<%= pl.stats(field:"price_fall_round") %>
				<%= pl.stats(field:"goals_conceded") %>
				<%= pl.stats(field:"bonus") %>
				<%= pl.stats(field:"total_points") %>
				<%= pl.stats(field:"price", prec:true) %>
				<%= pl.stats(field:"price", op:false, visprice:true, prec:true) %>
			</tr>
		<% end %>
	</tbody>
 <% end %>
</table>
<%= ajax_will_paginate present.players, :params => { :my_excluded_param => nil }, 
    id:"pagfixed" %>
</div>