<div class='newplayer'>
	<%= tp.hidden_field :placement , class: "placement #{tp.object.placement}"%>
	<%= tp.hidden_field :buy_price, class: "buy_price #{tp.object.placement}"%>
	<%= tp.hidden_field :buy_gameweek, class: "buy_gameweek #{tp.object.placement}"%>
	<%= tp.hidden_field :buy_date, class: "buy_date #{tp.object.placement}"%>
	<%= tp.hidden_field :player_id, class: "player_id #{tp.object.placement}"%>
	<%= tp.fields_for :player do |t| %>
		<%= t.hidden_field :club_shortname, class: "club_shortname #{tp.object.placement}" %>
		<%= t.hidden_field :surname, class: "surname #{tp.object.placement}" %>
		<%= t.hidden_field :position, class: "position #{tp.object.placement}" %>
	<% end %>
</div>