<%= form_for teampersonel_path, id:'personelform', method: :put do %>
	<div id= 'hidepersonel'>
	<% team_personel.each do |p| %>
		<%= hidden_field_tag "position[]", p.placement, class: "position #{p.placement}"%>
		<%= hidden_field_tag "buy_price[]", p.buy_price, class: "buy_price #{p.placement}"%>
		<%= hidden_field_tag "buy_gameweek[]", p.buy_gameweek, class: "buy_gameweek #{p.placement}"%>
		<%= hidden_field_tag "buy_date[]", p.buy_date, class: "buy_date #{p.placement}"%>
		<%= hidden_field_tag "player_id[]", p.player_id, class: "player_id #{p.placement}"%>
	<% end %>
	</div>
	<button type= "button", class= 'btn btn-primary pull-right btn-lg', id='personel'%>Update Team</button>
	<%= submit_tag "Update", id:'personelsubmit', class:'submitbutton' %>
<% end %>
