<h1>Players#index</h1>
<p class="shortname">Find me in app/views/players/index.html.erb</p>

<div class="playercontainer">
<div id="playerselection">
	</br>
	<%= label_tag('Sorting Options',nil,class:'label') %>
	<%= select( "playersort", "sort", Player::PLAYERSORT, {}, id:"playersort", class: "form-control") %> 
	</br>
</div>
<table id="playerlist" class="table table-striped table-bordered table-condensed" >
    <thead>
	    <tr class="playerdetails">
		  <th>Club</th>
		  <th>Pos</th>
		  <th>Surname</th>
		  <th>Bonus</th>
		  <th>Price</th>
		</tr>
	</thead>
	<tbody>
	<% @players.sort{|a,b| [a[:position], b[:price]] <=> 
		 [b[:position], a[:price]]}.each do |p| %>
	<tr class="playerdetails" id= <%= "#{p.surname}_#{p.id}" %> >
	  <td> <%= p.club_shortname %> </td>
	  <td class="position"> <%= p.position %> </td>
	  <td> <%= p.surname %> </td>
	  <td> <%= p.bonus %> </td>
	  <td class="price"> <%= p.price %> </td>
	</tr>
	<% end %>
	</tbody>
</table>
<%= will_paginate @players, previous_label: "<", next_label: ">", 
    id:"pagfixed"%> 
</div>
<p> xx</p>