<div class="table-responsive">
<table id="main" class="table-bordered table table-condensed">
	<thead>
		<tr>
		<th>Team</th>
		<th style="width: 8%">Player Market</th>
		</tr>
	</thead>
	<tbody>
		<tr>
		<td  id="footballground">
			<div class='container'>
			   <div class='row'>
			   	   <div class= "col-lg-4"></div>
				   <div id="g1" class= "col-lg-2 placeholder"></div>
				   <div id="g2" class= "col-lg-2 placeholder"></div>
			   </div>
			   <div class='row'>
				   <div id="d1" class= "col-lg-3 placeholder"></div>
				   <div id="d2" class= "col-lg-3 placeholder"></div>
				   <div id="d3" class= "col-lg-3 placeholder"></div>
				   <div id="d4" class= "col-lg-3 placeholder"></div>
			   </div>
			   <div class='row'>
				   <div id="m1" class= "col-lg-3 placeholder"></div>
				   <div id="m2" class= "col-lg-3 placeholder"></div>
				   <div id="m3" class= "col-lg-3 placeholder"></div>
				   <div id="m4" class= "col-lg-3 placeholder"></div>
			   </div>
			   <div class='row'>
			   		<div class="col-lg-3"></div>
				   <div id="s1" class= "col-lg-2 placeholder"></div>
				   <div id="s2" class= "col-lg-2 placeholder"></div>
				   <div id="s3" class= "col-lg-2 placeholder"></div>
			   </div>
			</div>
		</td>
		<td>
		<div class="playercontainer" data-url= "<%= playerssort_url %>">
		<%= form_tag playerslist_path, method: "get", remote: true, autocomplete: :off, id:"market" do %>
		<div id = "playerselection" >
			<p id="transferheading">Player Market</p>
			<%= label_tag('Team Profile:',nil,class:'label') %>
			<%= select("team", :id, options_for_select(team_selection,team_filter), {}, html_options = {class: "form-control playerdropdown"}) %>
			<%= label_tag('Sorting Options:',nil,class:'label') %>
			<%= select( "playersort", :id, options_for_select( Player::PLAYER_SORT,  sort_column), options = {}, 
			      html_options = {:class => "form-control playerdropdown"}) %>
			<%= label_tag('Price Bands:',nil,class:'label') %>
			<%= select("priceband", :id, options_for_select(price_bands, band), {}, html_options = {class: "form-control playerdropdown"}) %>	 
			<%= submit_tag "Apply", id: "sortsubmit"%>
			</br>
		</div>
		<div id="playermarket"><%= render 'playermarket', players:@players %></div>
		<% end %>
		</td>
		</tr>
	</tbody>
</table>
<div>
<p> xx</p>