<% provide(:title, "Player Market") %>
<div class="table-responsive">
<table id="main" class="table-bordered table table-condensed">
	<tbody>
		<tr>
		<td  id="footballground">
			<div class='container'>
				<div class='row'>
					<div id="teamname" class="col-xs-3 pull-left label label-default">Team</div>
					<div id="teamtally" class="col-xs-3 pull-right label label-info">Cash</div>
				</div>
			  <div class='row'>
			   	<div class= "col-lg-4"></div>
				  <div id="g1" class= "col-xs-2 placeholder"></div>
				  <div id="g2" class= "col-xs-2 placeholder"></div>
			  </div>
			  <div class='row'>
		   	 	<div class= "col-lg-1"></div>
			   	<div id="d1" class= "col-xs-2 placeholder"></div>
			   	<div id="d2" class= "col-xs-2 placeholder"></div>
			   	<div id="d3" class= "col-xs-2 placeholder"></div>
			   	<div id="d4" class= "col-xs-2 placeholder"></div>
			   	<div id="d5" class= "col-xs-2 placeholder"></div>
			  </div>
			  <div class='row'>
		   	  <div class= "col-lg-1"></div>
			  	<div id="m1" class= "col-xs-2 placeholder"></div>
			   	<div id="m2" class= "col-xs-2 placeholder"></div>
			   	<div id="m3" class= "col-xs-2 placeholder"></div>
			   	<div id="m4" class= "col-xs-2 placeholder"></div>
			   	<div id="m5" class= "col-xs-2 placeholder"></div>
			  </div>
			  <div class='row'>
			   	<div class="col-lg-3"></div>
				  <div id="s1" class= "col-xs-2 placeholder"></div>
				  <div id="s2" class= "col-xs-2 placeholder"></div>
				  <div id="s3" class= "col-xs-2 placeholder"></div>
			  </div>
			  <div>
			   	<div id="team">
		   			<%= form_for @team, url: team_path(@team) do |fx| %>
			   			<%= render 'shared/team' , f: fx %>
			   			<button type= "button", class= 'btn btn-primary pull-right btn-lg', id='personel'%>Update Team</button>
							<%= submit_tag "Update", id:'personelsubmit', class:'submitbutton' %>
				   	<% end %>
				   </div>
			  </div>
			</div>
		</td>
		<td>
		<div class="playercontainer">
		<%= form_tag playerslist_path, method: "get", remote: true, autocomplete: :off, id:"market" do %>
		<div id = "playerselection" >
			<p id="transferheading">Player Market</p>
			<%= label_tag('Team Profile:',nil,class:'label') %>
			<%= select("teamselect", :id, options_for_select(team_selection,team_filter), {}, html_options = {class: "form-control playerdropdown"}) %>
			<%= label_tag('Sorting Options:',nil,class:'label') %>
			<%= select( "playersort", :id, options_for_select( Player::PLAYER_SORT,  sort_column), options = {}, 
			      html_options = {:class => "form-control playerdropdown"}) %>
			<%= label_tag('Price Bands:',nil,class:'label') %>
			<%= select("priceband", :id, options_for_select(price_bands, band), {}, html_options = {class: "form-control playerdropdown"}) %>	 
			<%= submit_tag "Apply", id: "sortsubmit", class:'submitbutton' %>
			</br>
		</div>
		<div id="playermarket"><%= render 'playermarket', players:@players %></div>
		<% end %>
		</td>
		</tr>
	</tbody>
</table>
<div>
<div id="newdialog"><%=render '/shared/dialogbox' %></div>